body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  width: 100%;
  background-color:#fff;
  margin: 0
}

input, input::-webkit-input-placeholder{
  color: #a1a1a1;
  font-weight: bold !important;
}
input::-webkit-input-placeholder {
    font-size: 12px;
}
input{
  padding-left: 10px
}
.corpo-login{
    height: 100%;
    width: 100%;
    background-color: #442044;
}
.toolbar-login{
  min-height: 40px;
  max-height: 40px;
  background-color: #6d496d !important
}
.toolbar-login h6{
  position: relative;
  top:10px;
  left: 15px;
  margin: 0;
}
.card-login{
  background-color: #f2f2f2 !important;
}
.card-login md-card-content{
  padding-top: 0px
}
.input-login {
  width: 97%;
  height: 36px;
  background-color: #f0eef1 ;
}
.form-login div{
  margin-top: 15px;
}
.lost-pass{
  margin-left: 20px;
  font-size: 12px;
  color: #a1a1a1;
  cursor: pointer;
  font-weight: bold;

}
.btn-login{
  background-color: #6d496d !important;
  text-transform: none;
  color:#fff;
  margin:0;
  font-size: 12px;
  width: 120px;
  height: 30px
}
