<md-content layout=row layout-wrap class="container-lista">

    <!-- toolbar header com o nome da titulo, usuario e icon logout -->
    <md-toolbar flex=100 class="toolbar-grid">
      <div layout=row flex layout-align="center center">
        <h4 flex>Lista items</h4>
        <div layout=row flex layout-align="center center">
          <h6 flex>{{user}}</h5>
          <md-icon flex=5 flex-xs=10 ng-click="logout()">
            <md-tooltip>logout</md-tooltip>
            exit_to_app</md-icon>
        </div>
      </div>
    </md-toolbar>

    <!-- container com menu filtro e o grid -->
    <md-content layout=row flex=100 class="container-grid">

      <!-- containeir com os filtros  -->
      <md-content id="menu-filtro"class="menu-filtro" flex={{flexMenu}} flex-xs={{flexMenuXs}} flex-sm={{flexMenuSm}} flex-gt-md={{flexMenuLg}} layout-wrap>

        <div layout="row" flex layout-wrap  style="position:relative; height:100%;margin-top:10px">

          <!-- div com select para filtroTipos -->
          <div layout=row flex=100 style="max-height:50px" layout-wrap>
            <h4 flex=100 style="margin:0px; margin-left:10px">Fitrar por:</h4>
            <md-select ng-model="tipo" placeholder="Tipos" class="md-no-underline md-padding"
            style="margin:0;max-height:50px" ng-change="mudarFiltro()"flex>
              <md-option value="titulo">Titulo</md-option>
              <md-option value="categoria">Categoria</md-option>
            </md-select>
          </div>

          <!-- lista gerada para categoria e titulo -->
          <ul  ng-if="tipo == 'titulo'">
            <li ng-repeat="item in lista">
              <md-checkbox ng-model="checkTitulo[$index]" ng-click="buscarItens(item.titulo,$index, 'titulo')" >
                  {{item.titulo}}
              </md-checkbox>
            </li>
          </ul>

          <ul ng-if="tipo == 'categoria'">
            <li ng-repeat="categoria in listaCategoria">
              <md-checkbox ng-model="checkCategoria[$index]" ng-click="buscarItens(categoria.categoria,$index, 'categoria')" >
                  {{categoria.categoria}}
              </md-checkbox>
            </li>
          </ul>
      </div>
    </md-content>

    <!-- container do grid -->
    <md-content id="grid-lista" class="grid-lista" flex>

      <!-- botão que esconde o menu de filtros -->
        <md-button class="btn-esconder"ng-click="esconderMenu()">
          <md-icon>
            <md-tooltip>{{hideShow}}</md-tooltip>
              {{iconEsconder}}</md-icon>
        </md-button>

        <!-- div com o input que faz uma busca dinamica na lista com a entrada dada -->
        <div layout=row class="div-pesquisa"flex=100  layout-align="center center">
          <md-input-container md-no-float class="md-block pesquisa-grid" flex=70 flex-xs=100>
              <md-icon class="md-primary">search</md-icon>
              <input type="text" name="username" ng-model="pesquisar" placeholder="Pesquisar item ...">
            </md-input-container>
        </div>

        <!-- grid com descricao, imagem, titulo e categoria do item  -->
        <md-grid-list class="grid"
          md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
          md-row-height-gt-md="1:1" md-row-height="3:2"
          md-gutter="24px" md-gutter-gt-sm="4px" >
            <md-grid-tile ng-repeat="item in listaItem | filter: pesquisar track by $index"
                  md-rowspan="{{item.row}}"
                  md-colspan="{{item.col}"
                  md-colspan-sm="1"
                  md-colspan-xs="1" >
                  <md-grid-tile-footer>
                    <h5>Titulo: <b>{{item.titulo}}</b></h5>
                    <h5>Categoria:<b>{{item.categoria}}</b></h5>
                    <h5>Descrição:<b>{{item.descricao}}</b></h5>
                  </md-grid-tile-footer>
                  <img class="img-grid" src="{{item.imagem}}" alt="">
          </md-grid-tile>
        </md-grid-list>
      </md-content >
    </md-content>
</md-content>
