<md-content layout=row layout-wrap class="container-lista">
    <md-toolbar flex=100>
      <h5>Lista-itens</h5>
    </md-toolbar>
    <md-content layout=row flex=100 class="container-grid">
      <md-content layout="column" class="menu-filtro" flex={{flexMenu}} layout-wrap>
        <md-content layout="row" flex layout-wrap  style="position:relative; height:100%;margin-top:10px">
          <div layout=row flex=100 style="max-height:50px">
            <md-select ng-model="tipo" placeholder="Tipos" class="md-no-underline md-padding" style="margin:0;max-height:50px" flex>
              <md-option value="titulo">Titulo</md-option>
              <md-option value="categoria">Categoria</md-option>
            </md-select>
          </div>
          <ul style="position:absolute; top:55px" ng-if="tipo == 'titulo'">
            <li ng-repeat="item in lista">
              <md-checkbox ng-model="check[$index]" ng-click="buscaAdd(item.titulo,$index)" >
                  {{item.titulo}}
              </md-checkbox>
            </li>
          </ul>
          <ul style="position:absolute; top:55px" ng-if="tipo == 'categoria'">
            <li ng-repeat="categoria in listaCategoria">
              <md-checkbox ng-model="check[$index]" ng-click="buscaAdd(item.titulo,$index)" >
                  {{categoria.categoria}}
              </md-checkbox>
            </li>
          </ul>
        </md-content>
      </md-content>
      <md-content class="grid-lista" flex>
        <div layout="row" flex=100 layout-align="end center" style="height:40px">
          <md-button class="btn-esconder"ng-click="esconderMenu()">
            <md-icon>{{iconEsconder}}</md-icon>
          </md-button>
        </div>
          <md-input-container md-no-float class="md-block pesquisa-grid" flex=50 flex-xs=100>
            <md-icon>search</md-icon>
            <input type="text" name="username" ng-model="pesquisar" placeholder="Pesquisar item ...">
          </md-input-container>

        <md-grid-list
          md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
          md-row-height-gt-md="1:1" md-row-height="4:3"
          md-gutter="24px" md-gutter-gt-sm="4px" >

          <md-grid-tile ng-repeat="item in listaItem | filter: pesquisar track by $index"
                  md-rowspan="{{item.row}}"
                  md-colspan="{{item.col}"
                  md-colspan-sm="1"
                  md-colspan-xs="1" >
                  <md-grid-tile-footer>
                    <h5>{{item.titulo}}</h5>
                    <h6>{{item.descricao}}</h6>
                  </md-grid-tile-footer>
                  <img style="width:100%;height:100%"class="img-grid"src="{{item.imagem}}" alt="">

          </md-grid-tile>
        </md-grid-list>
      </md-content >
    </md-content>


</md-content>
