<div class="corpo-login" layout="row" layout-align="center center">
  <md-card  flex=40 class="card-login">
    <md-toolbar class="toolbar-login">
      <h6>Login Form</h6>
    </md-toolbar>
    <md-card-content>
      <form name="formLogin" class="form-login">
        <div class="row" flex=100>
          <input type="text" class="input-login" placeholder="Username"style="border: 1px solid #e3e3e3 ">
        </div>
        <div class="row" flex=100>
          <input type="password" class="input-login" placeholder="Password" style="border: 1px solid #e3e3e3 ">
        </div>
        <div class="row">
          <md-button class="btn-login">
            Sing In
          </md-button>
          <span class="lost-pass">Lost Your Password ?</span>
        </div>

      </form>

    </md-card-content>

  <md-card>
</div>
